*{
    margin: 0;
    box-sizing: border-box;
     
}
body{
    background: #00B3DF;
background: linear-gradient(90deg, rgba(0, 179, 223, 1) 0%, rgba(37, 133, 255, 1) 35%, rgba(142, 55, 252, 1) 100%);
}

.ani1{
    height: 300px;
    width: 25%;
          position: absolute;
          right: 2%;
          margin-top: 55px;

}
